{% extends "bookings/base.html" %}
{% block header %}
<div class="jumbotron">
	<h1 class="display-4">Marhba to your bookings.</h1>
</div>
{% endblock header %}

{% block content %}

	{% if user.is_authenticated %}

		{% for day in days %}
		<h4>Reservations:</h4>
			<div class="card m-3">
				<h5 class="card-header">{{ day.date }}</h5>

					<div class="card-body">
						<span>You have reserved {{day.reserved}} hours.</span>
						<form action="{% url 'bookings:delete-book' day.date %}" method='POST'>
							{% csrf_token %}
							<input class="btn btn-outline-danger btn-sm mt-1" type='submit' value='Delete'/>
						</form>
					</div>

			</div>

		{% empty %}
			<text>No bookings have been made yet.</text>
		{% endfor %}
	

	{% else %}
		<h2>
			<a href="{% url 'users:register' %}">Register</a> now to make reservations.
			Or <a href="{% url 'users:login' %}">Log in</a> to your account.
		</h2>
	{% endif %}

{% endblock content %}